@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #f2f2f2;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.navigation-item a {
  text-decoration: none;
}

.welcome {
background-image: url(images/index-background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: #474747;
text-align: center;
}

.advantages-main__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-main__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advance-advice h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advance-advice p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advance-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advance-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.offer-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}

.offer-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.offer-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-2 {
  background-image: url(images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form {
  text-align: center;
}

.tel {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


/* 2 страница */

.filter {
  background-image: url(images/filter-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  color: #ffffff;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.slider-range {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.choise-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-card__link {
  text-decoration: none;
}

.hotel-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-rank {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link--current {
  color: #000000;
}

.subscribe-title__catalog {
  color: #000000;
}

.subscribe-text__catalog {
  color: inherit;
}
