@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
height: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  position: relative;
  padding: 0 70px;
}

.main-logo {
position: absolute;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 170px;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  min-width: 160px;
  list-style: none;
}

.navigation-item {
  padding: 20px 16px;
  position: relative;
}

.navigation-user li {
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.navigation-current::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 63px;
  left: 16px;
  right: 16px;
  background-color: #756257;
}

.navigation-user__link {
  position: relative;
  text-decoration: none;
  padding: 22px 12px;
}

.navigation-user__like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 10px;
  padding: 4px 5px;
  top: 8px;
  right: 3px;
  color: #ffffff;
  background-color: #7DB54F;
}

.navigation--button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 35px;
  margin-left: 24px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #756157;
  color: #ffffff;
}

.navigation--button:hover {
  background-color: #615048;
}

.navigation--button:focus {
  background-color: #615048;
}

.navigation--button:active {
  background-color: #756157;
}

.welcome {
  position: relative;
  background-image: url(../images/index-background.jpg);
  /* url(../images/devider.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #474747;
  text-align: center;
  padding: 49px 70px 78px;
}

.welcome::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  bottom: -1px;
  background-image: url(../images/devider.svg);
}

.advantages-main {
  padding: 69px 70px 90px;
}

.advantages-main__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-main__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 25px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  position: relative;
  display: flex;
  min-height: 385px;
  min-width: 400px;
  background-color: #82B3D3;
  align-items: center;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 70px;
  width: 400px;
}

.advantages-item--text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 400px;
  padding: 20px 70px;
}

.advantages-item--aside {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item--center {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item--img {
  width: 1200px;
  color: #ffffff;
}

.advantages-item--img .advantages-title {
  color: #ffffff;
}

.advantages-item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  top: 188px;
  left: 170px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);;
}

.advantages-item--img::before {
background-color: rgba(255, 255, 255, 0.3);;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 60px;

  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advance-advice {
  text-align: center;
  padding: 64px 70px;
  }

.advance-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #000000;
}

.advance-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advance-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advance-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.advance-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advance-item:nth-child(1) {
  display: block;
  background-image: url(../images/housing-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px ;
}

.advance-item:nth-child(2) {
  display: block;
  background-image: url(../images/food-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px ;
}

.advance-item:nth-child(3) {
  display: block;
  background-image: url(../images/souvenirs-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px ;
}

.advance-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 102px 0 30px;
  text-transform: uppercase;
  color: #000000;
}

.advance-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.offer {
  text-align: center;
  padding: 96px 70px;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #000000;
}

.offer-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px;
}

.offer-button {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 276px;
  min-height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
}

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe--img {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  font-family: inherit;
  text-align: center;
  justify-content: center;
}

.email {
  min-height: 52px;
  width: 452px;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
}

.email-catalog {
  background-color: #f2f2f2;
}

.subscribe-form--button {
  font-size: 20px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.page-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 27px;
}

.button-social:hover path{
  fill: #68A2CA;
}

.button-social:focus path{
  fill: #68A2CA;
}

.button-social:active path{
  fill: rgba(104, 162, 202, 0.3);
}

a[href^="tel:"] {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

a[href^="tel:"]:hover {
  color: #756157;
}

a[href^="tel:"]:focus {
  color: #756157;
}

a[href^="tel:"]:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo__htmlacademy:hover path {
  fill: #756157;
}

.footer-logo__htmlacademy:focus path {
  fill: #756157;
}

.footer-logo__htmlacademy:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/***** 2 страница *****
***********************/

.filter {
  background-image: url(../images/filter-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  color: #ffffff;
  padding: 35px 70px 70px ;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  line-height: 21px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link__main {
  width: 13px;
  height: 15px;
  background-position: center;
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
  margin: auto;
  margin-right: 10px;
}

.breadcrumbs-item__direction {
  width: 7px;
  height: 9px;
  background-position: center;
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  margin: auto;
  margin-right: 10px;
}

.filter-group {
  display: flex;
}

.filter-group fieldset {
  border: none;
  padding: 0;
}

.catalog-checkbox {
  margin-right: 70px;
  padding: 0;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-radio {
  margin-right: 140px;
}

.slider {
  margin-right: 70px;
}

.slider-range {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter-button__submit {
  border: none;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82B3D3;
}

.filter-button__reset {
  border: none;
  padding: 8px 50px;
  color: #ffffff;
  background-color: transparent;
}

.hotel-choise {
  padding: 50px 70px 60px;
}

.choise {
  display: flex;
  margin-bottom: 40px;
}

.choise-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  margin-right: 70px;
  margin-left: auto;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  justify-content: center;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 19px;
  border: 1px solid #E6E6E6;
}

.hotel-card__link {
  text-decoration: none;
  grid-column: 2 span;
}

.hotel-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000000;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
}

.button-card {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-selected {
  background-color: #7DB54F;
}

.hotel-rank {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0 8px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  position: relative;
  list-style: none;
  gap: 8px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.pagination-item span{
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-link--current {
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-title__catalog {
  color: #000000;
}

.subscribe-text__catalog {
  color: inherit;
}
